<section>
  <h1>{{title}}</h1>
  <h2>Klockan är: {{today | date: 'H:mm:ss'}}</h2>
  <h2> Dagens datum är: {{today | date: 'yy-MM-dd' }}</h2>
  <p>8a Skapa en app som visar en lista med datum, med hjälp av direktivet *ngFor.
    Gör listan som en konstant i komponentens ts-fil.<br />
    Ha en separat komponent för varje "list item".<br />
    <br />
    8b* Lägg till knappar som man kan klicka på för att välja hur elementen i listan ska formateras.
    Exempelvis "bara datum", "bara tid", "datum och tid".
  </p>
</section>

<app-list1></app-list1>
