<section>

  <div>
    <button (click)="showAll()">Show All</button>
    <button (click)="onlyDates()">Only Dates</button>
    <button (click)="onlyYear()">Only Year</button>

  </div>

  <ng-container *ngIf="dateToggle==0">
    <p *ngFor="let data of dataArray">{{ data | date: 'yyyy-MM-dd' }}</p>
  </ng-container>

  <ng-container *ngIf="dateToggle==1">
    <p *ngFor="let data of dataArray"> {{ data | date:'MM' }}</p>
  </ng-container>

  <ng-container *ngIf="dateToggle==2">
    <p *ngFor="let data of dataArray"> {{ data | date: 'yyyy' }} </p>
  </ng-container>

</section>
