@import '../variables';

section {
  align-items: center;
  
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.2em;
    margin-bottom: 2em;
  }

  p {
    display: inline-block;
    margin: 0;
  }
}

button {
  margin: 0.2em;
  width: 30%;
  border-radius: 10px;
  padding: 0.2em;
  transition: 0.2s;
  border: 0.1px solid $color-blue;
  outline: none;
  text-align: center;

  &:hover {
    background-color: $color-blue;
  }
}
