<section>

  <div>
    <button (click)="showAll()" [ngClass]="{'active': dateToggle == 0}">Show All</button>
    <button (click)="onlyDates()" [ngClass]="{'active': dateToggle == 1}">Only Dates</button>
    <button (click)="onlyMonths()" [ngClass]="{'active': dateToggle == 3}">Only Months</button>
    <button (click)="onlyYear()" [ngClass]="{'active': dateToggle == 2}">Only Year</button>



  </div>
  <ng-container *ngIf="dateToggle==0">
    <p *ngFor="let data of dataArray">{{ data | date: 'yyyy-MM-dd' }}</p>
  </ng-container>
  <ng-container *ngIf="dateToggle==1">
    <p *ngFor="let data of dataArray"> {{ data | date:'MM' }}</p>
  </ng-container>
  <ng-container *ngIf="dateToggle==2">
    <p *ngFor="let data of dataArray"> {{ data | date: 'yyyy' }} </p>
  </ng-container>
  <ng-container *ngIf="dateToggle==3">
    <p *ngFor="let data of dataArray"> {{ data | date: 'dd' }} </p>
  </ng-container>

</section>
